@import '../../assets/styles/theme/variables';
//@import 'bar-menu-wide';
@import 'bar-menu-narrow';
@import 'push-menu';

@media (min-width: $pushMenuBreakpoint) {
  //, (min-width: 981px) and (max-width: 1450px)
  // .top-bar-scroll .bar-menu {
  //   display: none;
  // }
  .push-menu-wrap,
  .top-bar-scroll .push-menu-trigger {
    display: none !important;
  }
}

@media (max-width: $pushMenuBreakpoint - 1) {
  .top-bar .bar-menu {
    display: none !important;
  }
  .push-menu-trigger {
    display: block;
  }
  .top-bar .secondary-menu-container {
    right: 90px;
    top: 31px;
  }
}
