.km-google-map {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.km-google-map .km-google-map-marker {
  display: none;
}

.km-gm-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Fixes potential theme css conflict.
.km-gm-wrap img {
  max-width: inherit !important;
}

/* Popup
=======*/
.km-google-map-popup {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  max-width: 300px;
  width: 100%;
}

.km-google-map-popup .km-gmp-title {
  display: block;
  font-size: 18px;
}

.km-google-map-popup .km-gmp-content {
  font-size: 14px;
  display: block;
  margin: 10px 0;
}

@media (max-width: 980px) {
  .km-google-map {
    height: 300px !important;
  }
}
