.#{$block} .#{$slideCarousel} {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/**
EMBED video
===========*/

// .#{$block} .#{$slideCarousel} .swiper-slide::after {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 200px;
//   content: '';
//   // background: url('../../assets/images/top-overlay.png') center top repeat-x;
//   background: linear-gradient(
//     to bottom,
//     rgba(0, 0, 0, 0.6) 16%,
//     rgba(255, 255, 255, 0) 100%
//   );
//   z-index: 1;
// }

@media (max-width: 980px), (min-width: 981px) and (max-height: $stackHeight) {
  .#{$block} .#{$slideCarousel} {
    position: relative;
  }
}
