@import '../../assets/styles/theme/mixins';

.km-post-feed {
  padding: 50px 40px;
}

.km-post-feed .km-ptf-wrap,
.blog .km-ajax-load-more {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 17px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.km-post-feed .km-blog-card {
  position: relative;
  background: #fff;
  overflow: hidden;
}

.km-blog-card .kbc-image {
  display: block;
  margin: 0;
  width: 100%;
}

.km-blog-card .kbc-content {
  position: relative;
  box-sizing: border-box;
  background: #fff;
  padding: 25px 30px;
  text-align: left;
  z-index: 2;
  transition: ease 0.4s transform;
}

.km-blog-card:hover .kbc-content {
  transform: translateY(-42px);
}

.km-blog-card .kbc-title {
  display: block;
  font-size: 2rem;
}

.km-blog-card .kbc-text {
  display: block;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #606060;
}

.km-blog-card .km-post-read-more {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(42px);
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 30px;
  background: #7c1833;
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  transition: ease 0.4s transform;
}

.km-blog-card:hover .km-post-read-more {
  transform: translateY(0);
}

@media (max-width: 900px) {
  .km-post-feed .km-ptf-wrap,
  .blog .km-ajax-load-more {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .km-post-feed {
    padding: 50px 30px;
  }
  .km-post-feed .km-ptf-wrap,
  .blog .km-ajax-load-more {
    grid-template-columns: repeat(1, 1fr);
  }
}
