$cardBg: #fff;

/* Card styles
==============*/

.#{$block} .#{$abbr}-card {
  color: $mainColour;
}

.#{$block} .#{$abbr}c-wrap {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
}

.#{$block} .#{$abbr}c-wrap:empty {
  padding: 0;
}

/* Image
========*/
.#{$block} .#{$abbr}-card .#{$abbr}c-image {
  width: 100%;
  height: 347px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Video
========*/
.#{$block} .#{$abbr}c-video-wrapper {
  position: relative;
  width: 100%;
}

.#{$block} .#{$abbr}c-video-wrapper .video-block {
  display: block;
  margin: 0;
  max-width: 100%;
}

/* Title
========*/
.#{$block} .#{$abbr}-card .#{$abbr}c-title {
  color: $mainColour;
  margin-bottom: 19px;
}

/* Content
============*/
.#{$block} .#{$abbr}-card .#{$abbr}c-content {
  font-weight: 500;
}

@media (max-width: 980px) {
  .#{$block} .#{$abbr}-card {
    width: auto !important;
    max-width: 100% !important;
  }

  .#{$block} .#{$abbr}-card .#{$abbr}c-image {
    background: none !important;
    height: auto !important;
  }

  .#{$block} .#{$abbr}-card .#{$abbr}c-image img {
    display: block;
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .#{$block} .#{$abbr}-card a[href^='mailto:'] {
    display: block;
  }
}
