/* Intro Title
==============*/

$mainColour: #fff;

.#{$block} {
  text-align: center;
}

.#{$block} .#{$abbr}-intro {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: $mainColour;
}

.#{$block} .#{$abbr}-intro-bullet {
  display: block;
  background: $mainColour;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}

/* Title
========*/
.#{$block} .#{$abbr}-title {
  display: block;
  margin: 0 0 10px;
}

/* Content
==========*/
.#{$block} .#{$abbr}-content {
  color: $mainColour;
  margin: 0 auto;
}

/* Buttons
==========*/
.#{$block} .#{$abbr}-bottom {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
