$mainColour: #fff;
$accent: #73a1c2;

/* Bar Menu
===========*/
.bar-menu {
  position: relative;
  box-sizing: border-box;
  z-index: 20;
  width: 100%;
}

.bar-menu > ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 42px;
}

.bar-menu > ul > li {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 100%;

  &:first-child {
    margin-left: 0;
  }
}

.bar-menu > ul > li > a {
  color: $mainColour;
  line-height: 1;
  font-size: 1.6rem;

  &::after {
    margin-top: 5px;
  }
}

.top-bar-scroll .bar-menu > ul > li > a {
  color: #435c5a;
}

.bar-menu > ul > li.button-link > a {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 4px 16px 1px;
  line-height: unset;
  border: 2px solid $accent;
  color: $mainColour;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 0;
    height: 100%;
    transition: ease 0.2s width;
    background: $accent;
  }
  &::after {
    background: none;
  }
  &:hover {
    color: $mainColour;
  }
  &:hover::before {
    width: 100%;
    color: #fff;
  }
}
.bar-menu > ul > li.button-link > a .cl-title {
  display: block;
  width: 100%;
  position: relative;
}

.top-bar-scroll .bar-menu > ul > li.button-link > a {
  color: #425c5a;
  &:hover {
    color: #fff;
  }
}

.bar-menu ul ul {
  display: none;
}

.bar-menu .sub-menu-trigger {
  width: 9px;
  height: 8px;
  fill: $accent;
  margin-left: 4px;
  margin-top: 4px;
  display: none;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    transition: ease 0.2s transform;
    transform-origin: 50% 50%;
  }
}

.bar-menu ul .menu-item-has-children:hover .sub-menu-trigger svg {
  transform: rotate(180deg);
}

/* Sub Menu
===========*/

.bar-menu ul ul {
  position: absolute;
  top: calc(100% + 29px);
  right: -25px;
  display: flex;
  justify-content: center;
  background: $mainColour;
  width: 100vw;
  display: none;
  padding: 25px 0;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);

  &::before {
    position: absolute;
    top: -47px;
    right: 0;
    content: '';
    height: 47px;
    width: 100%;
  }
}

.bar-menu ul li:hover ul {
  display: flex;
}

.bar-menu > ul > li:not(.button-link) > a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &::after {
    position: absolute;
    left: 0;
    bottom: 2px;
  }
}

.bar-menu ul ul li {
  position: relative;
  width: 304px;
  z-index: 5;
  border-left: 2px solid $accent;
  box-sizing: border-box;
  padding: 0 10px 0 24px;
}

.bar-menu ul ul .sub-menu-trigger {
  display: none;
}

.bar-menu ul ul li a {
  text-transform: uppercase;
  color: #435c5a;
  font-size: 1.8rem;
  font-weight: 700;
  display: inline-block;
}

.bar-menu ul ul ul {
  position: relative;
  left: 0;
  top: 0;
  right: auto;
  width: 100%;
  flex-direction: column;
  display: flex;
  padding: 0;

  &::before {
    display: none;
  }
}

.bar-menu ul ul ul li {
  border: none;
  padding: 0;
  width: auto;
}

.bar-menu ul ul ul li a {
  text-transform: none;
  font-size: 1.6rem;
  font-weight: 400;
}

@media (max-width: 1300px) {
  .bar-menu ul ul li {
    width: 250px;
  }
}

@media (max-width: 1025px) {
  .bar-menu ul ul li {
    width: 240px;
  }
  .bar-menu ul ul li a {
    font-size: 1.6rem;
  }
  .bar-menu ul ul ul li a {
    font-size: 1.5rem;
  }
}

/* Hide Items that appear on responsive only!
=============================================*/
.bar-menu .menu-item-502,
.bar-menu .menu-item-504,
.bar-menu .menu-item-503,
.bar-menu .menu-item-505,
.bar-menu .menu-item-506,
.bar-menu .menu-item-507,
.bar-menu .menu-item-508 {
  display: none;
}

// Animation

.bar-menu #primary-menu > .menu-item-has-children > .sub-menu {
  transform: translateY(10px);
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: ease 0.2s opacity, ease 0.2s visibility, ease 0.2s transform;
}

.bar-menu #primary-menu > .menu-item-has-children:hover > .sub-menu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
