$block: km-cpt-links;
$abbr: cptl;
$wrap: km-cptl-wrap;

$barBg: none;
$wrapBg: #1b1b1b;
$barHeight: 60px;
$mainColour: #fff;

.#{$block} {
  position: relative;
  box-sizing: border-box;
  background: $barBg;
  overflow: hidden;
}

.#{$block} .#{$wrap} {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.#{$block} .swiper-container {
  height: 100%;
  width: 0;
  flex-grow: 2;
  height: $barHeight;
  background: $wrapBg;
}

/* Item
=======*/

.#{$block} .km-#{$abbr}-link {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 1.2;
  text-align: center;
  color: $mainColour;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: ease 0.2s background;
  background: $wrapBg;

  &:focus,
  &:hover {
    background: darken($wrapBg, 5%);
  }
}

.#{$block} .swiper-slide .km-#{$abbr}-link {
  border-right: 1px solid darken($wrapBg, 8%);
}

.#{$block} .swiper-slide:last-of-type .km-#{$abbr}-link {
  border-right: none;
}

.#{$block} .km-#{$abbr}-all {
  height: $barHeight;
  box-shadow: 3px -1px 5px 0px rgba(0, 0, 0, 0.35);
  z-index: 3;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    color: $mainColour;
    height: 100%;
    font-size: 1.4rem;
    color: $mainColour;
    background: darken($wrapBg, 10%);
    transition: ease 0.2s background;

    &:focus,
    &:hover {
      background: darken($wrapBg, 15%);
    }
  }
}

/* Arrows
=========*/
.#{$block} .#{$abbr}-nav {
  position: relative;
  top: 0;
  left: 0;
  width: 40px;
  height: $barHeight;
  margin-top: 0;
  font-size: 10px;
  background: darken($wrapBg, 17%);
  transition: ease 0.2s background;

  &::after {
    font-size: 1.8rem;
    color: $mainColour;
  }

  &:focus,
  &:hover {
    background: darken($wrapBg, 20%);
  }
}

.#{$block} .#{$abbr}-nav.swiper-button-next {
  box-shadow: -3px -1px 5px 0px rgba(0, 0, 0, 0.35);
}

/* Scrollbar
============*/
.#{$block} .swiper-scrollbar {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 50;
  height: 5px;
  width: 100%;
  border-radius: 0;
}

.#{$block} .swiper-scrollbar .swiper-scrollbar-drag {
  border-radius: 0;
}

@media (max-width: 980px) {
  .#{$block} {
    padding: 0 30px;
  }
  .#{$block} .km-#{$abbr}-link,
  .#{$block} .km-#{$abbr}-all a {
    font-size: 1.3rem;
  }
}
