//  Provides reset cose for button tag
//  Use:
//   .reset-btn {
//     @include reset-button();
//   }

@mixin reset-button() {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  outline: none !important;
}

//  Allows truncating text to one line within boundries
//  Use:
//   .truncated-text {
//     @include truncate(200px);
//   }

@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//  Makes gradients easier to create
//  Use:
//  .gradient {
//     @include gradient(#07c, #06f, vertical); // vertical, horizontal DEFAULT : radial;
//   }

@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(
      top,
      $start-color,
      $end-color
    ) !important;
    background: linear-gradient(to bottom, $start-color, $end-color) !important;
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(
      left,
      $start-color,
      $end-color
    ) !important;
    background: linear-gradient(to right, $start-color, $end-color) !important;
  } @else {
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      $start-color,
      $end-color
    ) !important;
    background: radial-gradient(
      ellipse at center,
      $start-color,
      $end-color
    ) !important;
  }
}

//  Center using flex
//  Use:
//  .my-item {
//   @include flex-enter();
// }

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Boiilerplate for creating svg icons
// Use:
// @include icon(cta-icon,10px); // icon class name and dimensions

@mixin icon($iconClass, $iconSize) {
  /* #{$iconClass} 
  ================*/

  .#{$iconClass} {
    display: block;
    width: $iconSize;
    height: $iconSize;
    min-width: $iconSize;
    min-height: $iconSize;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

// Create before or after overlay on element
// Use:
// @include item-verlay(module-section, rgba(0,0,0,0.2), before); // class name of parent , overlay colour, before/after

@mixin item-overlay($parent, $bg, $beforOrAfter) {
  .#{$parent}::#{$beforOrAfter} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: $bg;
    z-index: 1;
  }
}

// Create named class with particular property
// Use:
// @include loop-named-prop(("linkedIn": red,"twitter": green,"facebook": blue), social-, fill);

@mixin loop-named-prop($itemArray: (), $classPrefix: '', $property: color) {
  @each $name, $value in $itemArray {
    .#{$classPrefix}#{$name} {
      #{$property}: #{$value};
    }
  }
}

// Allows creating numberer property.
// Useful if list items have common properties apart from icon fill or background-color for example
// Use:
// @include numbered-prop((red,green,blue,pink), background-color);

@mixin numbered-prop($set, $prop, $itemPrefix: 'item') {
  @for $i from 1 through length($set) {
    $val: nth($set, $i);
    .#{$itemPrefix}-#{$i} {
      #{$prop}: #{$val};
    }
  }
}

// Makes divs to be equal width.Parent has to be flex
// Use:
// @include equal-width();
@mixin equal-width() {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 0;
}

// Adds animation delay as stagger effect
// args: total amount of items, initial delay ms, stagger step ms
@mixin stagger-animation-delay($count, $initDelay, $staggerStep) {
  @while $count > 0 {
    &:nth-of-type(#{$count}) {
      animation-delay: $initDelay + $staggerStep * $count;
    }
    $count: $count - 1;
  }
}
