$btnColour: #425c5a;
$btnBg: none;

$hoverColour: #fff;
$hoverBg: rgba(0, 0, 0, 0.5);

/* Ninja Forms
==============*/
.nf-form-title,
.nf-form-fields-required {
  display: none;
}

.ninja-forms-req-symbol {
  display: none;
}

.nf-error-msg,
.ninja-forms-req-symbol {
  color: $btnColour !important;
}

.nf-error-msg.nf-error-required-error,
.nf-form-errors {
  font-size: 1.8rem;
}

.ninja-forms-field.nf-element[type='button'] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 800;
  border: 2px solid $btnColour;
  padding: 11px 20px;
  transition: ease 0.2s background, ease 0.2s color !important;
  text-align: center;
  text-decoration: none;
  background: none;
  position: relative;
  color: $btnColour;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  transition: ease 0.2s color;
  z-index: 5;
  cursor: pointer;
  height: auto;
  min-width: 170px;
  font-weight: 500;
}

.nf-form-content button,
.nf-form-content input[type='button'],
.nf-form-content input[type='submit'] {
  position: relative;
}

.nf-form-content button:hover,
.nf-form-content input[type='button']:hover,
.nf-form-content input[type='submit']:hover {
  background: $hoverBg !important;
  color: $hoverColour !important;
}

.html-wrap span,
.nf-field-label label {
  font-family: 'Montserrat', 'Segoe UI', Tahoma, 'Helvetica Neue', Helvetica,
    Arial, sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.4rem !important;
}

@media (max-width: 980px) {
  .nf-error-msg.nf-error-required-error,
  .nf-form-errors {
    font-size: 1.6rem;
  }
}

section:not(.km-light-form) .campaign-monitor-optin-wrap label {
  box-sizing: border-box !important;
  padding-left: 25px !important;

  &::before,
  &::after {
    bottom: auto !important;
    top: 5px;
  }
}

@media (max-width: 800px) {
  section:not(.km-light-form) .campaign-monitor-optin-wrap label {
    padding-left: 0 !important;
  }
}
