/**
 Submit button choices
  km-form-btn-clear
  km-form-btn-filled

  classes above to be added to the forms in admin area.
  
**/

$prefix: #{'.km-dark-form'}; // add block prefix if override is for specific block only

$mainColour: #606060;
$secondaryColour: #606060;
$accentColour: #7c1833;

#{$prefix} {
  color: $mainColour !important;
  a {
    color: $mainColour !important;
  }
}

#{$prefix} .nf-form-fields-required {
  display: none !important;
}

#{$prefix} input[type='number'],
#{$prefix} input[type='text'],
#{$prefix} input[type='email'],
#{$prefix} input[type='tel'],
#{$prefix} input[type='number'] {
  background: none !important;
  border: none !important;
  border-bottom: 1px solid $mainColour !important;
  height: 30px !important;
  font-size: 13px !important;
  color: $mainColour !important;
}

#{$prefix} input[type='number'],
#{$prefix} input[type='text']:focus,
#{$prefix} input[type='email']:focus,
#{$prefix} input[type='tel']:focus,
#{$prefix} .nf-form-content textarea:focus {
  background: none !important;
}

#{$prefix} .nf-error-msg.nf-error-field-errors {
  color: $mainColour !important;
}

#{$prefix} input[type='number'],
#{$prefix} input[type='text'],
#{$prefix} input[type='email'],
#{$prefix} input[type='tel'],
#{$prefix} .nf-form-content textarea {
  padding-left: 0;
  padding-right: 0;
}

#{$prefix} .ninja-forms-req-symbol {
  color: $mainColour !important;
}

#{$prefix} .nf-field label {
  font-size: 12px;
  letter-spacing: 1px;
  color: $mainColour;
}

#{$prefix} .nf-field .nf-field-label {
  position: relative;
  margin-bottom: 0 !important;
  transform: translateY(100%);
  z-index: 2;
  transition: ease 0.2s transform;
}

#{$prefix} .nf-field .nf-field-label.ninja-lbl-active {
  transform: translateY(0);
}

#{$prefix} .nf-field:focus {
  display: none;
}

#{$prefix} .nf-error.field-wrap .nf-field-element:after {
  background: none !important;
  color: $mainColour !important;
  font-size: 13px !important;
  top: 5px !important;
  right: 5px !important;
  bottom: 1px !important;
  height: 20px !important;
  width: 10px !important;
  line-height: 20px !important;
}

#{$prefix} .nf-error-msg.nf-error-required-error {
  font-size: 13px;
  color: $mainColour !important;
}

#{$prefix} .nf-pass.field-wrap .nf-field-element:after {
  color: $mainColour !important;
  font-size: 19px !important;
  height: 18px !important;
  line-height: 1 !important;
  top: 5px !important;
  right: 5px !important;
}

#{$prefix} .nf-pass input {
  background: none !important;
}

/* Select styling
=================*/
#{$prefix} .list-select-wrap .nf-field-label {
  margin-bottom: 5px !important;
  transform: translateY(0) !important;
}

#{$prefix} .nf-form-content textarea {
  background: none;
  border: none !important;
  border-bottom: 1px solid $mainColour !important;
  border-radius: 0;
  box-shadow: none;
  color: $mainColour !important;
  transition: all 0.5s;
  font-size: 14px !important;
  height: 100px !important;
}

#{$prefix} #ninja_forms_required_items,
#{$prefix} .nf-field-container {
  margin-bottom: 5px;
}

#{$prefix} input:-webkit-autofill,
#{$prefix} input:-webkit-autofill:hover,
#{$prefix} input:-webkit-autofill:focus,
#{$prefix} input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
}

#{$prefix} input:-webkit-autofill {
  -webkit-text-fill-color: $mainColour !important;
}

#{$prefix} .ninja-forms-req-symbol {
  color: $mainColour;
  text-align: center;
}

#{$prefix} .checkbox-wrap .nf-field-label {
  transform: translateY(0) !important;
}

#{$prefix} .nf-form-content .label-above .nf-field-label,
#{$prefix} .nf-form-content .label-below .nf-field-label,
#{$prefix} .nf-form-content .label-hidden .nf-field-label {
  width: 100%;
  line-height: 1.2;
}

#{$prefix} .checkbox-wrap .nf-field-label label::before,
#{$prefix} .checkbox-wrap .nf-field-label label::after {
  display: none !important;
}

#{$prefix} .checkbox-wrap {
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}

#{$prefix} .checkbox-wrap .nf-field-label {
  flex-grow: 2;
  order: 2;
}

#{$prefix} .checkbox-wrap .nf-field-label label {
  text-transform: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  display: block;
  width: 100%;
}

#{$prefix} .checkbox-wrap input {
  display: block !important;
}

#{$prefix} .checkbox-wrap .nf-field-element {
  display: inline-block;
  width: auto;
  order: 1;
  margin-right: 10px;
}

#{$prefix} .checkbox-wrap .nf-field-element input {
  width: 18px !important;
  height: 18px !important;
  min-width: 18px;
  min-height: 18px;
}

#{$prefix} .html-wrap {
  box-sizing: border-box;
  padding: 10px 0;
}

#{$prefix} .html-wrap p {
  font-size: 14px;
}

#{$prefix} .nf-field-container .checkbox-wrap .nf-field-label label {
  margin: 0 !important;
}

.checkbox-container.label-above .checkbox-wrap label {
  height: auto !important;
}

#{$prefix} .nf-field-container .nf-field-label label {
  display: block;
  width: 100%;
}

#{$prefix} .nf-form-content button,
#{$prefix} .nf-form-content input[type='button'],
#{$prefix} .nf-form-content input[type='submit'] {
  background: none !important;
  color: #7c1833 !important;
  font-weight: 600;
  border: 2px solid #7c1833;
  letter-spacing: 1px;
  transition: ease 0.2s background;
  cursor: pointer;

  &:hover {
    background: #7c1833 !important;
    color: #fff !important;
  }
}

#{$prefix}.km-form-btn-clear .nf-form-content button,
#{$prefix}.km-form-btn-clear .nf-form-content input[type='button'],
#{$prefix}.km-form-btn-clear .nf-form-content input[type='submit'] {
  color: #fff !important;
  border: 2px solid #fff;
  &:hover {
    background: #fff !important;
    color: #7c1833 !important;
  }
}

#{$prefix}.km-form-btn-filled .nf-form-content button,
#{$prefix}.km-form-btn-filled .nf-form-content input[type='button'],
#{$prefix}.km-form-btn-filled .nf-form-content input[type='submit'] {
  color: #7c1833 !important;
  background: #fff !important;
  border: 2px solid #fff;
  &:hover {
    background: #7c1833 !important;
    color: #fff !important;
  }
}

#{$prefix} .nf-field {
  margin-top: 10px;
}

#{$prefix} .nf-form-content input[type='button'] {
  margin-top: 10px;
}

#{$prefix} .nf-error-msg.nf-error-field-errors {
  display: block;
  text-align: center;
  color: $mainColour;
  padding: 10px 0;
}

#{$prefix} .checkbox-container.label-right .nf-field-element,
#{$prefix} .checkbox-container .nf-field-element input {
  display: block !important;
}

.checkbox-container.label-right .field-wrap > div {
  width: auto !important;
}

// Unable to submit the form if this effect is in place
// #{$prefix} .submit-wrap .nf-field-element {
//   position: relative;

//   &::before {
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 0;
//     content: 'SEND';
//     background: $mainColour;
//     height: 100%;
//     z-index: 2;
//     transition: ease 0.2s width;
//     overflow: hidden;
//     cursor: pointer;
//     font-weight: 600;
//     color: $accentColour;
//   }

//   &:hover::before {
//     width: 100%;
//   }
// }

#{$prefix} .nf-error .nf-error-msg {
  color: $mainColour !important;
  font-size: 13px;
}

/* Select styling
=================*/
#{$prefix} .list-select-wrap .nf-field-label {
  margin-bottom: 5px !important;
  transform: translateY(0) !important;
}

#{$prefix} .list-select-wrap select {
  background: none !important;
  border: none !important;
  -webkit-appearance: none !important;
}

/* File uploads *
=================*/
#{$prefix} .nf-field .file_upload-wrap .nf-field-label {
  position: relative;
  margin-bottom: 0 !important;
  transform: translateY(0) !important;
  z-index: 2;
  transition: ease 0.2s transform;
  display: none !important;
}

#{$prefix} .nf-field .file_upload-wrap .nf-fu-progress {
  height: 10px;
  margin-bottom: 0;
  margin-top: 5px;
  overflow: hidden;
  background: none;
  border-radius: 0;
  box-shadow: none;
}

#{$prefix} .nf-field .file_upload-wrap .nf-fu-fileinput-button {
  width: auto !important;
}

#{$prefix} .nf-field .file_upload-wrap .nf-fu-button-cancel {
  padding: 11px 12px;
  margin-left: 10px;
  width: auto !important;
}

#{$prefix} .nf-field .file_upload-wrap .nf-field-element {
  width: auto;
}

#{$prefix} .nf-field .file_upload-wrap .nf-field-label {
  margin-bottom: 10px !important;
}

.km-form-900 {
  max-width: 900px;
  margin: 0 auto;
}
