/* Load More
============*/
.km-items-load-more {
  position: relative;
  z-index: 2;
  border: 0;
  margin: 10px;
  padding: 0;
  width: auto;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  background: 0;
  transition: ease 0.2s background;
  padding: 10px;
  cursor: pointer;
  display: block;
  margin: 40px auto;
  background: $accentBG;
  color: $accentColour;

  &:focus,
  &:hover {
    background: darken($accentBG, 10%);
  }
}
.km-items-load-more.km-items-load-hidden,
.km-items-load-more.km-items-end {
  display: none;
}
