/**
  Stylesheet to include individual styling for all our post types.
   Specific styling for core can be applied by using class name "km-POST_TYPE_SLUG-feed"
**/

/**
Core
====*/

$block: km-post-type-feed;
$abbr: km-ptf;

.#{$block} {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 18px;
}

.#{$block} .#{$abbr}-wrap,
.km-ajax-load-more {
  position: relative;
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.ajax-load-more-wrap,
.km-ajax-load-more {
  width: 100%;
}
@import './link-options/swiper-links/links'; // either or is used
@import './link-options/block-links/links'; // either or is used
@import './post/post';
@import './testimonial/testimonial';
