.km-spacer-block {
  position: relative;
  background-size: cover;
  background: #fff;
}

.km-spacer-inner {
  display: block;
  line-height: 1;
}

@media (min-width: 981px) {
  .km-spacer-inner {
    height: auto !important;
  }
}

@media (max-width: 980px) {
  .km-spacer-block {
    height: auto !important;
  }
}
