$arrowColour: #73a1c2;

.swn-icon {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: ease 0.2s opacity;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: $arrowColour;
  }
}

.swn-icon:focus,
.swn-icon:hover {
  opacity: 0.5;
}

.swn-button.swiper-button-disabled {
  opacity: 0.2;
  pointer-events: none;
}

@media (max-width: 640px) {
  .swn-icon {
    width: 25px;
    height: 25px;
  }
}
