/* Case study Higlights
=======================*/

$block: blog-feed;
$wrap: bf-wrap;
$abbr: bf;

$gridWidth: 1200px;

.#{$block} {
  position: relative;
  box-sizing: border-box;
  padding: 100px 40px;
  background: #231f20;
}

.#{$block} .#{$wrap} {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: $gridWidth + 60px;
  margin: 0 auto;
  padding: 0 30px;
  z-index: 4;
}

.#{$block} .#{$abbr}-title {
  color: #fff;
}

@media (max-width: 980px) {
  .#{$block} {
    padding: 70px 30px;
  }

  .km-post-feed .km-blog-card {
    display: none;
  }

  .km-post-feed .km-blog-card:first-of-type,
  .km-post-feed .km-blog-card:only-of-type {
    display: block;
  }

  .km-post-feed .km-ptf-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 640px) {
  .#{$block} {
    padding: 50px 0;
  }
}

@import 'content';
@import 'blog-feed';
