/* Hero Carousel
================*/

$controlsColour: #fff;
$block: km-hero-carousel;
$slideCarousel: km-slide-carousel;
$contentCarousel: km-content-carousel;

$blockHeight: 100vh;
$bg: #000;
$stackHeight: 600px; // When items begin to stack rather than overlay
$responsiveHeight: 50vh;

.#{$block} {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: $blockHeight;
  background: $bg;
  overflow: hidden;
}

.#{$block} .swiper-slide {
  position: relative;
}

@media (min-width: 641px) and (max-width: 980px),
  (min-width: 981px) and (max-height: $stackHeight) {
  .#{$block} {
    height: auto !important;
  }
  .#{$block} .swiper-container {
    height: 40vh !important; // remove if video size is not set via js
  }
}

@media (max-width: 640px) {
  .#{$block} {
    height: auto !important;
  }
  .#{$block} .swiper-container {
    height: 350px !important; // remove if video size is not set via js
  }
}

/* Overlay
=========*/

.#{$block} .carousel-slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

@import './scroll-down';
@import './slide-carousel/carousel-bullets';
@import './slide-carousel/carousel-buttons';
@import './slide-carousel/swiper-pagination';

@import './slide-carousel/video';
@import './slide-carousel/image';

@import './slide-carousel/slide-carousel';
@import './content-carousel/content-carousel';
