$textColour: #4f4f4f;
$cardBg: #fff;
$linkColour: #9ec318;

.km-single-card {
  position: relative;
  display: inline-flex;
  vertical-align: top;
  box-sizing: border-box;
  background: #fff;
  color: $textColour;
  width: 100%;
  max-width: 582px;
}

.km-single-card .kmsc-img {
  display: flex;
  flex-grow: 2;
  min-width: 266px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.km-single-card .kmsc-content {
  box-sizing: border-box;
  padding: 30px 35px;
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
}

.km-single-card.ksc-post p {
  display: block;
  margin-bottom: 20px;
}

.km-single-card .kmsc-content h2 {
  font-size: 2.4rem;
}

.km-single-card.ksc-post a {
  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 15px;
  color: $linkColour;
  border: 1px solid $linkColour;
  text-decoration: none;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 2;
    opacity: 0;
    background: #000;
    transition: ease 0.2s opacity;
  }

  &:focus::before,
  &:hover::before {
    opacity: 0.05;
  }
}

.km-single-card .kmsc-img img {
  display: none;
}

@media (min-width: 981px) {
  .km-single-card .kmsc-content {
    min-height: 457px;
  }

  .km-single-card.ksc-post .kmsc-content {
    display: flex;
    flex-direction: column;
  }

  .km-single-card.ksc-post a {
    margin-top: auto;
    align-self: flex-start;
  }
}

@media (min-width: 981px) and (max-width: 1200px) {
  .km-single-card .kmsc-img {
    min-width: 180px;
  }
  .km-single-card .kmsc-content {
    box-sizing: border-box;
    padding: 25px 30px;
    font-size: 1.4rem;
  }

  .km-single-card .kmsc-content h2 {
    font-size: 2rem;
  }
}

@media (max-width: 980px) {
  .km-single-card {
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .km-single-card .kmsc-img {
    width: auto;
    max-width: 100%;
    background: none !important;
    box-sizing: border-box;
    padding: 30px 35px 0;

    img {
      display: block;
      width: auto;
      max-width: 100%;
    }
  }
}

@media (max-width: 640px) {
  .km-single-card .kmsc-img {
    padding: 20px 25px 0;
  }
  .km-single-card .kmsc-content {
    box-sizing: border-box;
    padding: 20px 25px;
  }
}
