/*
    * 
    * module.scss - CSS has modular scope
    * common.scss - CSS has to be within km-bundle
    * critical.scss - CSS should be injected within head of the document ( Stuff above the fold )
    * 
    */

/* Comparison Block
    ================*/
$block: km-comparison;

/* General Layout
    =================*/

.#{$block}-block {
  overflow: hidden;
  border-bottom: 20px solid #fff;
}

.#{$block}-wrap {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 102px 1fr;
  width: 100%;
}

.#{$block}-item {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 4;

  > * {
    width: 50%;
  }
}

.#{$block}-item:nth-of-type(even) {
  flex-direction: row-reverse;
}

.#{$block}-content-wrap {
  position: relative;
  z-index: 3;
  min-width: 50px;
  width: 350px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px;
  height: 100%;
}

.#{$block}-image {
  position: relative;
  height: 100%;
}

@media (max-width: 700px) {
  .#{$block}-item {
    flex-direction: column;
  }
  .#{$block}-item:nth-of-type(even) {
    flex-direction: column-reverse;
  }

  .#{$block}-item .#{$block}-image {
    display: none;
  }
  .#{$block}-item .#{$block}-content-wrap {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .#{$block}-wrap {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

/* Content
==========*/
.#{$block}-item .#{$block}-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.#{$block}-item .#{$block}-content-wrap .#{$block}-ctas {
  margin-top: 20px;
}

.#{$block}-item .#{$block}-content {
  text-align: center;
  flex-grow: 2;
  h2,
  h3 {
    margin-bottom: 15px;
  }
}

/* Divider
==============*/

.#{$block}-divider {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #186aa5;
  font-size: 2rem;
}

.#{$block}-divider .km-c-divider-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  box-sizing: border-box;
  color: currentColor;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 30px;
    background: currentColor;
  }

  span {
    display: block;
    margin: 0 10px;
  }
}

.divider-bg {
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: calc(100% + 51px);
}

.divider-bg.km-no-divider {
  width: 100%;
}

.divider-bg-left {
  left: 0;
  background: #e8eff7;
}

.divider-bg-right {
  right: 0;
  background: #e8eff7;
}

@media (min-width: 1201px) {
  .#{$block}-divider {
    box-sizing: border-box;
    padding-top: 30px;
  }
}

@media (max-width: 1200px) {
  .#{$block}-divider {
    width: 100%;
    height: 60px;
  }

  .#{$block}-wrap {
    width: 100%;
  }

  .#{$block}-divider .km-c-divider-text {
    &::before,
    &::after {
      width: 20vw;
      margin: 0 10px;
    }

    span {
      margin: 10px 0;
    }
  }

  .divider-bg {
    top: auto;
    left: 0;
    display: block;
    height: calc(100% + 60px);
    width: 100%;
  }
  .divider-bg.km-no-divider {
    height: 100%;
  }

  .divider-bg-left {
    top: 0;
  }

  .divider-bg-right {
    bottom: 0;
  }
}
