.km-testimonial-feed .km-testimonial-item {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  width: 100%;
  max-width: 960px;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #ccc;
  }

  &:last-of-type::after {
    display: none;
  }
}

.km-testimonial-feed .km-testimonial-item h3 {
  display: block;
  margin-top: 30px;
}
